.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  min-height: 65vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* *
*.module.css
layout.jsx
layout.module.css
*/
